.register{
    height: 100vh;
    overflow-y: scroll;
}

.register main section.section-login {
    width: 100%;
    height: 100vh;
    background: url(https://static.vecteezy.com/system/resources/previews/007/164/537/original/fingerprint-identity-sensor-data-protection-system-podium-hologram-blue-light-and-concept-free-vector.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.register main section.section-login .section-main {
    width: 60%;
    height: auto;
    display: flex;
}

.register main section.section-login .section-main .section-login-1, .register main section.section-login .section-login-2 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #013243;
}
.register main section.section-login .section-main .section-login-1 .section-login-1-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-top: 50px;
}
.register main section.section-login .section-main .section-login-1 .section-login-1-main .section-login-1-title {
    font-size: 32px;
    color: #fff;
}
.register main section.section-login .section-main .section-login-1 .section-login-1-main .section-login-1-text {

color: #ffffff94;

font-size: 18px;
}
.register main section.section-login .section-main .section-login-1 .section-login-1-main .section-login-1-img {

width: 100%;
}
.register main section.section-login .section-main .section-login-1 .section-login-1-main .section-login-1-img img {

width: 100%;

display: block;
}


.register main section.section-login .section-main .section-login-2 .section-login-2-main {
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}
.register main section.section-login .section-main .section-login-2 .section-login-2-main .section-login-2-title {
    font-size: 32px;
}
.register main section.section-login .section-main .section-login-2 .section-login-2-main .section-login-2-form {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.register main section.section-login .section-main .section-login-2 .section-login-2-main .section-login-2-form .login-form-1, .register main section.section-login .section-main .section-login-2 .section-login-2-main .section-login-2-form .login-form-2, .register main section.section-login .section-main .section-login-2 .section-login-2-main .section-login-2-form .login-form-3 {    
    display: flex;   
    flex-direction: column;
    row-gap: 8px;
}
.register main section.section-login .section-main .section-login-2 .section-login-2-main .section-login-2-form .login-form-1 label, .register main section.section-login .section-main .section-login-2 .section-login-2-main .section-login-2-form .login-form-2 label, .register main section.section-login .section-main .section-login-2 .section-login-2-main .section-login-2-form .login-form-3 label {
    font-weight: 500;
    font-size: 15px;
}
.register main section.section-login .section-main .section-login-2 .section-login-2-main .section-login-2-form .login-form-1 input, .register main section.section-login .section-main .section-login-2 .section-login-2-main .section-login-2-form .login-form-2 input, .register main section.section-login .section-main .section-login-2 .section-login-2-main .section-login-2-form .login-form-3 input {
    padding: 12px 15px;
    border: 1px solid #e9e6e6;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    width: 100%;
}
.register main section.section-login .section-main .section-login-2 .section-login-2-main .section-login-2-form .login-form-4 {
    display: flex;
    column-gap: 7px;
    align-items: center;
}
.register main section.section-login .section-main .section-login-2 .section-login-2-main .section-login-2-form .login-form-4 p, .register main section.section-login .section-main .section-login-2 .section-login-2-main .section-login-2-form .login-form-5 p {
    font-size: 14px;
}
.register main section.section-login .section-main .section-login-2 .section-login-2-main .section-login-2-form .login-form-4 p a, .register main section.section-login .section-main .section-login-2 .section-login-2-main .section-login-2-form .login-form-5 p a {
    font-weight: bold;
    color: #5a1fe0;
}
.register main section.section-login .section-main .section-login-2 .section-login-2-main .section-login-2-form .login-form-submit-btn button {
    background: #5a1fe0;
    padding: 14px;
    width: 100%;
    color: #fff;
    outline: none;
    border: 0px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}
.register main section.section-login .section-main .section-login-2 .section-login-2-main .section-login-2-form .login-form-5 p {
    text-align: center;
}





@media only screen and (max-width: 1200px) {

    /* login page */
    .register main section.section-login .section-login-1 .section-login-1-main, .register main section.section-login .section-login-2 .section-login-2-main {
        width: 85%;
    }
    .register main section.section-login .section-login-1 .section-login-1-main .section-login-1-title, .register main section.section-login .section-login-1 .section-login-1-main .section-login-1-form {
        margin-top: 35px;
    }
    .register main section.section-login .section-main {
        width: 75%
    }

}

@media only screen and (max-width: 900px) {

    /* login page */
    .register main section.section-login .section-main {
        padding: 35px 0px;
    }
    .register main section.section-login .section-login-1 .section-login-1-main, .register main section.section-login .section-login-2 .section-login-2-main {
        width: 90%;
    }
    .register main section.section-login .section-login-1 .section-login-1-main {
        height: 90%;
    }
    .register main section.section-login .section-login-1 .section-login-1-main .section-login-1-title, .register main section.section-login .section-login-1 .section-login-1-main .section-login-1-form {
        margin-top: 25px;
    }
    .register main section.section-login .section-main {
        flex-direction: column;
        width: 75%;
        padding: 50px 0px;
    }
    .register main section.section-login .section-main .section-login-1, .register main section.section-login .section-login-2 {
        width: 100%;
    }

    .register main section.section-login {
        height: unset;
    }
}

@media only screen and (max-width: 600px) {
    .register main section.section-login .section-main {
        width: 100%;
        padding: 0px;
    }
    .register main section.section-login .section-main .section-login-2 .section-login-2-main {
        padding: 35px 25px;
    }
}