@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    font-family: 'Roboto Mono', monospace;
}

a{
    color: inherit !important;
    text-decoration: none !important;
}


::-webkit-scrollbar-corner {
    background: rgba(131, 131, 131, 0.5);
}

* {
    scrollbar-width: thin;
    scrollbar-color: rgba(131, 131, 131, 0.5);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 5px;
    height: 12px;
}

*::-webkit-scrollbar-track {
    background: rgba(131, 131, 131, 0.5);
}

*::-webkit-scrollbar-thumb {
    background-color: #296EFF;
    border-radius: 20px;
    border: 3px solid rgba(131, 131, 131, 0.5);
}


.col-11-half {
    width: 85%;
    
}

.col-half {
    width: 15%;
    border-right: 1px #296EFF solid !important;
}

@media (min-width: 576px) {
    .col-11-half {
        width: 90%;
    }

    .col-half {
        width: 10%;
    }
}


@media (min-width: 768px) {
    .col-11-half {
        width: 95%;
    }

    .col-half {
        width: 5%;
    }
}

@media (min-width: 992px) {
    .col-11-half {
        width: 94%;
    }

    .col-half {
        width: 6%;
    }
}

@media (min-width: 1200px) {
    .col-11-half {
        width: 95%;
    }

    .col-half {
        width: 5%;
    }
}

@media (min-width: 1400px) {
    .col-11-half {
        width: 95%;
    }

    .col-half {
        width: 5%;
    }
}