.light-mode{
    color: black !important;
}
.dark-mode{
    color: #fff !important;
}
.light-mode, .dark-mode{
    transition: all 0.3s ease-in-out;
}
.light-mode .bg-main, .light-mode .MuiListItem-root{
    background-color: #fff !important;
    
}
.light-mode .bg-chat{
    background-color: #cfcbcb !important;
}
.light-mode .bg-nav{
    background-color: #e7e7e7 !important;
}
.dark-mode .bg-main,.dark-mode .MuiListItem-root{
    background-color: #303030 !important;
    color: white !important;
}
.dark-mode .bg-chat{
    background-color: #222222 !important;
    color: white !important;
}
.dark-mode .bg-nav{
    background-color: #1c1c1c !important;
}


/* GLOBAL CLASSES */
.cursor-pointer{
    cursor: pointer !important;
}